/*reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway;
}

.body{
	font-family: Raleway, sans-serif;
}

/*1a imagen panda grayscale*/
.responsive-img{
	padding-top: 0%;
	width: 100%;
	filter: grayscale(); /*filtro grayscale*/
}

/* Estilos header / footer*/
header, footer{
margin-bottom: 0!important;
}

/* Estilos clase general*/
.pandas{
	background-color: #ff8a65;
	height: 1000px;
}

/* Estilos todos los textos*/
h1, h2, h3, h5, h6 {
	color: white;
	font-weight: bolder;
}

h4{
	color: white;
	font-size: 20px;
	font-weight: normal;
}

p{
color: white;
font-weight: normal;
}
/* Sección Texto green-pink*/
.container_green{
	background-color: #ABE188;
	border-left: 0;
  border-right: 0;
  border:10px #F78E69 solid;
  padding-top: 3%;
}

/* Contenedor chico del texto "About"*/
.cont_pink{
	background-color: #ff8a65;
}

.about_title {
	text-align: center;
	font-size: 23px;
	padding-top: 30px;
	padding-bottom: 15px;
}

.pink_text {
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#bigpanda {
	padding-left: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 15%;
}

/*Section 4 fotos chicas*/
/*Estilo propios de las 4 fotos*/
.photos_green {
	width:100%;
  background-color: #ABE188;
  border:#F78E69 solid 10px;
  border-left:0;
  border-right: 0;
  padding-bottom:50px;
  padding-left: 10%;
}
/*row de fotos*/
.little_photos {
	background-color: #ABE188;
  margin-bottom: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 70px;
}

/*Texto Pictures*/
.pictures {
	text-align: center;
  color:#fff;
  font-size: 55px;
  font-weight: 600;
  padding-top: 80px;
  padding-right: 5%;
}

.pic1,.pic2,.pic3,.pic4 {
	border:10px white solid;
}

span {
	padding: 10px;
}

/*media query (responsive)*/
@media (max-width: 1160px) {

.pic1,.pic2,.pic3,.pic4 {
	width: 100%;
}

/*Contenedor verde de fotos*/
.photos_green {
  padding-left: 0%;
  padding-right: 10%;
}

.pictures{
  padding-left:15%;
}
}

